@import '../../styles/mixin.scss';



.upImg {
	width: 100%;
	height: 200px;
	background-color: #695a5a;
	position: relative;
	overflow: hidden;
	// opacity: 0;
	.img.dsn{
		display: none;
	}
	.img {
		width: 100%;
	}
	.file {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
}